lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
public/imgSrc
.sass-cache

noknok-jekyll/.bundle
noknok-jekyll/.sass-cache
noknok-jekyll/_site
noknok-jekyll/Gemfile.lock
